@use "../../abstracts/" as *;
@use "../../base/" as *;

.active {
  // color: red;

  // background-color: red;
}

@mixin link-common {
  font-weight: 400;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  border-radius: $standard-radius;
  font-size: 0.8rem;
  color: white;
  &:hover {
    border: 1px solid $accent-01;
    background-color: transparent;
  }
}

@mixin link-active {
  font-weight: 600;
  border-bottom: 2px solid $accent-01;
  background-color: transparent;
}

@mixin navlinks-container {
  @include d-flex(row, center, center);
  height: 100%;
}

.landing-navbar {
  @include dims(100vw, 6rem);
  @include d-flex(row, space-between, center);
  background-color: $neutral-900;

  @include media-xs {
    // background-color: green;
  }

  @include media-md {
    // background-color: blue;
  }

  @include media-xl {
    // background-color: red;
  }

  .links-container {
    @include d-flex(row, space-between, flex-start);
    @include dims(80%, 100%);
    margin: auto;

    .left-navlinks-container {
      @include navlinks-container;

      .logo-container {
        @include d-flex(row, flex-start, center);
        margin-right: 1rem;
        border-right: 1px solid $neutral-500;
        padding-right: 1rem;

        img {
          height: 3rem;
          margin-right: 1rem;
        }

        p {
          font-size: 1rem;
          font-family: Rubik;
          font-weight: 500;

          color: rgb(255, 255, 255);
        }
      }
    }

    .right-navlinks-container {
      @include navlinks-container;
    }

    .landing-navbar-link {
      @include link-common;
    }

    .landing-navbar-link.active {
      @include link-active;
    }
  }
}
