@use "../abstracts/" as *;
@use "../base/" as *;

.active {
  color: red;
}

.landing-navbar {
  width: 100vw;
  height: 8rem;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid gray;

//   background-color: yellow;
  .logo-container {
    img {
      height: 4rem;
    }
  }

  .links-container {
    height: 100%;

    display: flex;

    align-items: flex-end;
    // background-color: orange;
    a {
      margin-left: 2rem;
    }
  }
}
