@use "../base" as *;
@use "variables" as *;

@mixin d-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin dims($width, $height) {
  width: $width;
  height: $height;
}

@mixin dims-set($width, $height) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin dims-width-set($width) {
  min-width: $width;
  max-width: $width;
}

@mixin dims-height-set($height) {
  min-height: $height;
  max-height: $height;
}

@mixin sidebar-shadow() {
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

@mixin border($direction, $color) {
  border-#{$direction}: 1px solid $color;
}

@mixin small-icon-container {
  @include d-flex(column, center, center);
  @include dims-set(2rem, 2rem);

  cursor: pointer;

  border-radius: $standard-radius;
  background-color: darken($color: $neutral-700, $amount: 5);

  svg {
    height: $svg-icon;
  }

  &:hover {
    background-color: $icon-hover;
    background-color: $accent-01;
    border: 1px solid lighten($neutral-900, 50);
  }
}

@mixin medium-icon-container {
  white-space: nowrap;
  // margin-right: 1rem;
  // padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: $standard-radius;
  cursor: pointer;
  // background-color: red;
  height: 100%;
  color: white;
  background-color: darken($color: $neutral-700, $amount: 5);
  border: 1px solid transparent;
  padding: 0.5rem 0;
  p {
    padding-top: 0.2rem;
    font-size: 0.7rem;

    width: 100%;
    text-align: center;
  }

  svg {
    height: $svg-icon;
  }

  &:hover {
    border-color: lighten($neutral-900, 50);
    background-color: $accent-01;
  }
}
