$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;

// $accent-01: rgb(0, 91, 141);
$accent-01: rgb(67, 67, 198);
$accent-02: #b45309;
$accent-03: #ff0059;
$accent-04: #7f1d1d;
$accent-05: #ca8a04;

$fs-title: 1rem;
$fs-subtitle: 0.8rem;
$fs-link: 0.8rem;
$fs-pro: 0.6rem;

$svg-icon: 1rem;
$link-icon: 1.2rem;

$standard-radius: 0.2rem;

$icon-bg: #27272a;
$icon-hover: #3f3f46;
$icon-active: #52525b;
