$primary: #18181b;
$hover-darkbg: #27272a;
$active-darkbg: #3f3f46;
$accent-01: #4343c6;

$input-focus: #27272a;
// $input-focus: #e4e4e7;
$input-placeholder: #52525b;

$fs-title: 1rem;
$fs-subtitle: 0.8rem;
$fs-link: 0.8rem;
$fs-pro: 0.6rem;

$svg-icon: 1.4rem;
