@use "../../abstracts/" as *;
@use "../../base/" as *;

.signup-page-container {
  @include d-flex(column, flex-start, center);
  padding-top: 2rem;
  background-color: $neutral-900;
  height: 100vh;

  .signup-form-container {
    width: 420px;
    height: 640px;
    border-radius: $standard-radius;
    padding: 1rem;
    border: 1px solid $neutral-700;
    background-color: darken($color: $neutral-800, $amount: 3);
    position: relative;
    &:hover {
      // border-color: $accent-02;
    }

    .success-container {
      @include d-flex(column, center, center);
      background-color: rgba(67, 67, 198, 0.1);
      border-radius: $standard-radius;
      border: 1px solid $accent-01;

      backdrop-filter: saturate(180%) blur(4px);
      transition: 0.5s all ease-in;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .success-message-container {
        background-color: darken($accent-01, 20);
        border: 2px solid $accent-01;
        border-radius: $standard-radius;
        width: 300px;
        height: 300px;
        @include d-flex(column, center, center);

        img {
          height: 5rem;
        }

        p {
          color: white;
        }
        // position: absolute;
        // left: 0;
        // right: 0;
        // margin-left: auto;
        // margin-right: auto;
      }
    }

    .error-container {
      @include d-flex(column, center, center);

      background-color: rgba(218, 110, 110, 0.1);
      border-radius: $standard-radius;
      border: 1px solid rgb(212, 76, 76);

      backdrop-filter: saturate(180%) blur(4px);
      visibility: hidden;
      transition: 0.5s all ease-in;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .close-error-container {
        @include small-icon-container;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: rgb(218, 110, 110);
        color: white;
      }

      .error-message-container {
        background-color: rgb(218, 110, 110);
        border: 2px solid rgb(212, 76, 76);
        border-radius: $standard-radius;
        width: 300px;
        height: 300px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        .alert-icon-container {
          @include d-flex(row, flex-start, center);
          border-bottom: 1px solid white;
          width: 100%;
          padding: 0.5rem;
          // @include small-icon-container;
          // position: absolute;
          // top: 0.5rem;
          // left: 0.5rem;
          background-color: rgb(218, 110, 110);
          color: white;
          svg {
            height: 2rem;
          }

          p {
            margin-left: 0.5rem;
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .error-content {
          padding: 0.5rem;
        }
      }

      p {
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
        // font-weight: bold;
      }
    }

    .visibility-visible {
      visibility: visible;
    }

    .title-container {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;

      border-bottom: 1px solid $neutral-700;

      .sign-up {
        padding-bottom: 1rem;
        font-size: 2rem;

        color: $neutral-50;
      }
    }

    form {
      .label-input-container {
        @include d-flex(column, flex-start, flex-start);
        margin-bottom: 0.5rem;

        label {
          color: $neutral-50;
          font-size: $fs-subtitle;
          font-size: 1rem;
          padding-bottom: 0.4rem;
        }

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          background-color: $neutral-800;
          height: 2.4rem;
          width: 100%;
          padding: 0.5rem 1rem;
          margin-bottom: 1.2rem;
          font-size: 0.9rem;
          color: white;
          border-radius: $standard-radius;

          &:not(:placeholder-shown) {
            border: 1px solid $accent-01;
            &:invalid {
              border: 1px solid $accent-03;
              background-color: rgb(162, 103, 103);
            }
            &:valid {
              background-color: rgb(94, 118, 94);
              border: 1px solid green;
            }
          }

          &:valid {
            border: 1px solid green;
          }

          &:disabled {
            background-color: $neutral-400;
          }

          &:focus {
            border: 1px solid $accent-01;
            &:invalid {
              border: 1px solid $accent-03;
            }
          }
        }

        .show-password-container {
          @include d-flex(row, flex-start, center);

          height: 2rem;
          width: 100%;
          label {
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            font-size: 0.7rem;
          }
        }
      }

      .password-requirements {
        padding-bottom: 1rem;
        p:first-of-type {
          font-size: 1rem;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 0.7rem;
          color: $neutral-400;

          &:hover {
            color: white;
          }
        }
      }

      button {
        background-color: $accent-02;
        color: white;
        width: 100%;
        height: 2.4rem;

        border-radius: $standard-radius;

        &:hover {
          background-color: lighten($accent-02, 5);
        }

        &:disabled {
          background-color: $neutral-400;
        }
      }
    }
  }
}
