@use "../abstracts/" as *;
@use "../base/" as *;

.home-body {
  @include d-flex(row, space-around, center);
  background-color: $neutral-900;
  height: 100vh;

  color: white;

  .left-container {
    @include d-flex(column, center, flex-end);
    height: 100%;
    width: 50%;
    // background-color: red;
    // background-color: $neutral-800;
    padding: 1rem;

    .hero-text-container {
      margin-bottom: 20rem;
      border-right: 1px solid $neutral-700;
      padding-right: 1rem;

      p {
        text-align: right;
        font-size: 3.4rem;
        font-weight: 400;

        span {
          border-bottom: 5px solid blue;
        }
      }
    }
  }

  .right-container {
    @include d-flex(column, center, flex-start);
    height: 100%;
    width: 50%;
    // background-color: blue;

    .image-container {
      width: 600px;

      img {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);

        margin-bottom: 15rem;
        padding-left: 5rem;

        border-radius: 2rem;
      }
    }
  }
}
