@use "../abstracts/" as *;
@use "../base/" as *;

.home-page {
  // @include d-flex(column, flex-start, center);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  background-color: $neutral-900;

  .main-content-container {
    margin: auto;
    width: 80%;
    height: 100%;
    // background-color: red;
    color: white;

    .hero-content {
      padding-top: 8rem;
      // background-color: blue;

      .title-container {
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $neutral-400;
        width: fit-content;
        p {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 2.4rem;
        }
      }

      .subtitle-container {
        font-family: Raleway;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}
