@use "../../abstracts/" as *;
@use "../../base/" as *;

.task-history-tab-container {
  background-color: darken($color: $neutral-700, $amount: 8);
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: $standard-radius;
  border: 1px solid $neutral-600;
  transition: all 0.5s ease-out;
  min-width: 20rem;
  max-width: 20rem;
  height: calc(100% - 0.5rem);

  // background-color: blue;
  position: relative;

  .task-history-title {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;

    p {
      // margin-right: auto;
      font-size: 1.2rem;
    }
  }

  .lapsed-task-list-container {
    // background-color: red;
    height: 90%;
    overflow-y: scroll;

    .lapsed-task-card {
      width: 100%;

      background-color: darken($color: $neutral-700, $amount: 5);
      padding: 0.5rem;

      border-radius: $standard-radius;
      margin-bottom: 0.5rem;
      // border-bottom: 1px solid $neutral-500;
      padding-bottom: 0.5rem;

      overflow: hidden;
      height: 3rem;
      // transition: all 2s ease-out;
      // &:hover {
      //   height: fit-content;
      // }

      // height: fit-content;

      .date-container {
        @include d-flex(row, space-between, center);
        // background-color: blue;
        height: 2rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;

        p:nth-of-type(1) {
          // border-bottom: 1px solid $neutral-700;
          // padding-bottom: 0.5rem;
          // width: fit-content;

          span {
            color: $neutral-600;
          }
        }

        .drop-down-icon-container {
          @include small-icon-container;
        }

        .drop-down-active {
          background-color: $accent-01;
        }

        p:nth-of-type(2) {
          // width: 4rem;
          font-size: 0.7rem;
          color: $neutral-500;
          margin-left: auto;
          margin-right: 0.5rem;
          // padding-right: 0.5rem;
          // border-right: 1px solid gray;
        }
      }
      .lapsed-list-container {
        font-size: 0.8rem;

        .lapsed-task-content-container {
          @include d-flex(row, space-between, center);
          // cursor: pointer;
          background-color: darken($color: $neutral-700, $amount: 4);
          border-radius: $standard-radius;
          margin-bottom: 0.5rem;
          height: 3rem;
          padding: 0.5rem;
          border: 1px solid transparent;
          &:hover {
            border-color: $neutral-500;
          }

          .edit-lapsed-task-icon-container {
            @include small-icon-container;
            opacity: 30%;

            &:hover {
              opacity: 100%;
            }
          }
        }

        .completed-lapsed-task {
          background-color: #264644;
          // border: 0.5px solid #21956c;

          p {
            color: lighten($color: #264644, $amount: 80);
            // text-decoration: str;
            // text-decoration: line-through;
          }
        }
      }
    }

    .open-lapsed-task-card {
      // border: 1px solid $neutral-500;

      background-color: darken($color: $neutral-700, $amount: 1);
      height: fit-content;
      overflow-y: scroll;
    }
  }
}
