@use "../../abstracts/" as *;
@use "../../base/" as *;

.project-phase-container {
  //   background-color: blue;
  box-shadow: 1px 5px 8px -5px rgba(0, 0, 0, 0.73) inset;

  background-color: $neutral-800;
  color: #ffffff;
  height: calc(100vh - 6rem);
  // width: calc(100vw - 20rem);
  width: 100%;
  overflow-x: scroll;

  //   margin: 1rem;
  // z-index: 1;
  padding: 0.5rem;
  // padding-right: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.loading-container {
  @include d-flex(column, flex-start, center);
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  img {
    height: 5rem;
  }

  p {
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.task-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: yellow;
  padding-right: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // background-color: blue;
  height: 100%;

  overflow-x: scroll;
  overflow-y: hidden;

  // background-color: red;
  // @media (max-width: 1366px) {
  //   width: 100%;
  //   // padding-right: 1rem;
  // background-color: red;
  // }

  // z-index: 500;
}
