.projects-page {
  display: flex;
  // margin: 0.5rem;
  flex-flow: row wrap;
  height: 100%;

  .project-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    margin-bottom: 1rem;

    overflow: hidden;

    // background-color: grey;
    border: 1px solid gray;
    padding: 0.5rem;

    .project-name {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}

.project-list-container {
  overflow: scroll;
  border-right: 1px solid gray;
  padding: 1rem;
  height: 100%;
}
