.project-phase-container {
  //   background-color: blue;
  box-shadow: 1px 5px 8px -5px rgba(0, 0, 0, 0.73) inset;

  background-color: #253449;
  color: #ffffff;
  height: calc(100vh - 8rem);
  width: calc(100vw - 20rem);
  //   width: 90%;
  overflow-x: none;
  //   margin: 1rem;
  // z-index: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.phase-menu-container {
  position: relative;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  margin-right: 1rem;
  background-color: darken($color: #253449, $amount: 1);
  border-radius: 1rem;
  padding: 0.5rem;

  .close-icon-menu-container {
    position: relative;
    // top: 0;
    // right: 0;
    opacity: 60%;
    width: 3rem;
    margin-left: auto;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
    background-color: #334155;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:hover {
      opacity: 100%;
      background-color: lighten($color: #253449, $amount: 10);
      svg {
        stroke: white;
      }
    }

    svg {
      height: 1rem;
    }

    svg:nth-of-type(1) {
      top: 1rem;
      left: 0.3rem;
      position: absolute;
    }
  }

  .add-task-form-container {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.phase-menu-container-small {
  min-width: 4rem;
  padding: 0.5rem;
  height: 100%;
  margin-right: 1rem;
  background-color: darken($color: #253449, $amount: 1);
  border-radius: 1rem;

  .open-menu-icon-container {
    position: relative;
    opacity: 60%;
    min-width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
    background-color: #334155;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:hover {
      opacity: 100%;
      background-color: lighten($color: #253449, $amount: 10);
      svg {
        stroke: white;
      }
    }

    svg {
      height: 1rem;
    }

    svg:nth-of-type(2) {
      top: 1rem;
      right: 0.3rem;
      position: absolute;
    }
  }
}

.task-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: yellow;
  //   padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;

  overflow-x: scroll;

  // z-index: 500;
}

.task-date-container {
  //   display: inline-block;
  background-color: darken($color: #253449, $amount: 1);
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.5s ease-out;
  // background-color: red;

  // background-color: red;
  //   min-width: 300px;
  //   max-width: 300px;

  min-width: 300px;

  height: 100%;
  //   z-index: -5;

  &:hover {
    // border-color: gray;
  }

  .label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    svg {
      margin-left: auto;
      height: 1.4rem;
      cursor: pointer;
    }
    p {
      font-size: 0.7rem;
      color: lighten($color: #253449, $amount: 20);
    }
  }
  .deadline-container {
    margin-bottom: 1rem;
    border-bottom: 1px solid lighten($color: #253449, $amount: 5);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    .date-format {
      font-size: 1rem;
      font-weight: 400;
      // letter-spacing: 0.1rem;
    }
    .date-distance {
      font-size: 0.8rem;
      font-weight: 300;
      color: lighten($color: #253449, $amount: 20);
      //   font-weight: bold;
      padding-bottom: 1rem;
      transition: all 0.5s ease-out;
      &:hover {
        color: white;
      }
    }

    .new-task-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      form {
        position: relative;
        width: 100%;

        input {
          padding: 0.5rem 1rem;
          transition: all 0.5s ease-out;
          background-color: lighten(#253449, 1);

          width: 100%;
          visibility: hidden;
          visibility: visible;
          height: 2.4rem;
          border-radius: 2rem;
          color: #9399a1;
          font-size: 0.9rem;

          &::placeholder {
            font-size: 0.9rem;
            color: #475569;
          }

          &:focus,
          :hover,
          :valid {
            color: white;
            background-color: #334155;
          }
        }

        // input[value=""] {
        //   color: white;
        //   background-color: #334155;
        // }

        .new-task-button-container {
          position: absolute;
          top: 0.2rem;
          right: 0.2rem;
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          background-color: #475569;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          svg {
            transform: rotate(90deg);
            height: 1rem;
            stroke: #94a3b8;
          }
          &:hover {
            background-color: #ca8a04;
            svg {
              stroke: white;
            }
          }
        }
      }
    }

 
  }

  .task-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .task-content-container {
      margin-bottom: 0.5rem;
      border-radius: 1rem;
      border: 1px solid transparent;
      transition: all 0.5s ease-out;
      padding: 0.5rem;
      height: 100px;
      width: 100%;
      background-color: lighten($color: #253449, $amount: 1);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      // background-color: gray;
      &:hover {
        border-color: lighten($color: #253449, $amount: 20);
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
          drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      }

      .checkbox-container {
        opacity: 60%;
        min-width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
        background-color: #334155;
        margin-bottom: 0.5rem;
        &:hover {
          opacity: 100%;
          border: 1px solid lighten($color: #253449, $amount: 20);
        }

        svg {
          height: 1.8rem;
        }

        .feather-check-circle {
          stroke: greenyellow;
        }
      }

      .completed-checkbox {
        background-color: #345851;
      }

      .task-content {
        // background-color: yellow;
        padding: 0 0.5rem;
        width: 100%;
        height: 100%;

        p {
          opacity: 100%;
          font-size: 0.9rem;
          font-weight: 300;
        }
      }

      .task-menu-container {
        opacity: 20%;
        min-width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
        background-color: #334155;
        // background-color: red;
        margin-bottom: 0.5rem;
        &:hover {
          opacity: 100%;
          border: 1px solid lighten($color: #253449, $amount: 20);
        }

        svg {
          height: 1.8rem;
        }

        .feather-check-circle {
          stroke: greenyellow;
        }
      }
    }

    .completed-task {
      background-color: #264644;
      border: 0.5px solid #21956c;

      p {
        color: lighten($color: #264644, $amount: 40);
        text-decoration: str;
        // text-decoration: line-through;
      }
    }
  }
}
