@use "../../base/" as *;

.workshop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  // background-color: red;
  background-color: #334155;
}

.workshop-main-contents {
  display: flex;
  flex-direction: column;

  width: 100%;
}
