@use "../../abstracts/" as *;
@use "../../base/" as *;

.add-task-card-form {
  // border: 1px dashed $neutral-500;
  background-color: darken($neutral-700, 8);
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: $standard-radius;
  border: 1px solid $neutral-600;
  transition: all 0.5s ease-out;

  min-width: 20rem;
  max-width: 20rem;
  height: calc(100% - 0.5rem);

  .add-task-title {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
  }

  .add-task-form {
    
    @include d-flex(column, flex-start, flex-start);
    width: 100%;

    label {
      font-size: 0.8rem;
      color: gray;
      margin-bottom: 0.5rem;
    }

    input {
      background-color: $neutral-800;
      height: 2.4rem;
      // height: 3rem;
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 1.2rem;
      font-size: 0.9rem;
      // @include border(bottom, $accent-01);
      // background-color: rebeccapurple;
      color: white;
      border-radius: $standard-radius;
      &:focus {
        @include border(bottom, $accent-01);
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    button {
      margin-top: 2rem;
      width: 100%;
      font-weight: 300;
      height: 2.4rem;
      border-radius: $standard-radius;
      border: 1px solid $accent-01;
      background-color: $accent-01;
      &:hover {
        background-color: darken($accent-01, 20);
        // background-color: $neutral-800;
      }
    }
  }

  .clear-form-container {
    opacity: 30%;
    width: fit-content;
    cursor: pointer;
    border: 1px solid $accent-02;
    border-radius: $standard-radius;
    padding: 0.5rem;
    margin-top: 1rem;
    p {
      font-size: 0.8rem;
      font-weight: 300;
    }

    &:hover {
      opacity: 100%;
      // background-color: $neutral-800;
      background-color: $accent-02;
    }
  }
}
