@use "../../abstracts/" as *;
@use "../../base/" as *;

.phase-management-container {
  width: 100%;
  height: 100%;
  // background-color: yellow;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;

  .title-container {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;

    p {
      font-size: 1rem;
    }
  }

  .add-phase-form-container {
    @include d-flex(column, flex-start, flex-start);
    width: 100%;
    // padding-bottom: 1rem;
    margin-bottom: 1rem;
    // border-bottom: 1px solid lighten($neutral-700, 2);
    label {
      font-size: 0.8rem;
      color: gray;
      margin-bottom: 0.5rem;
      display: block;
      // background-color: red;
      width: 100%;
    }

    .input-button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        background-color: darken($neutral-800, 2);
        height: 2.4rem;
        width: 61%;
        padding: 0.5rem 1rem;

        // margin-bottom: 1rem;
        font-size: 0.9rem;
        // @include border(bottom, $accent-01);
        // background-color: rebeccapurple;
        color: white;
        border-radius: $standard-radius;
        &:focus {
          @include border(bottom, $accent-01);
        }
      }

      button {
        // margin-top: 1rem;
        width: 37.5%;
        margin-left: auto;

        font-weight: 300;
        height: 2.4rem;
        border-radius: $standard-radius;
        border: 1px solid $accent-01;
        background-color: $accent-01;

        &:hover {
          background-color: darken($accent-01, 20);
          // background-color: $neutral-800;
        }
      }
    }
  }

  .interactive-phase-container {
    // background-color: red;
    width: 100%;
    height: 100%;

    li {
      border-radius: $standard-radius;
      list-style: none;
      width: 100%;
      height: 3rem;
      margin-bottom: 0.5rem;

      background-color: lighten($neutral-800, 2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      font-size: 0.8rem;
      position: relative;

      .edit-phase-container,
      .delete-phase-container {
        @include small-icon-container;
        margin-right: 0.5rem;
        opacity: 20%;
        transition: all 0.5s ease-out;
        // display: none;
      }
      &:hover {
        .edit-phase-container,
        .delete-phase-container {
          opacity: 100%;
          // display: unset;
          // background-color: $accent-03;
        }
      }

      .phase-name {
        margin-right: auto;
      }
      .reorder-container {
        position: absolute;
        right: 0;
        // background-color: blue;
        height: 100%;
        width: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;

        svg {
          opacity: 40%;
          height: 1rem;

          // background-color: red;
          // height: 4rem;
        }
      }

      &:hover {
        background-color: $accent-01;
      }
    }
  }
}
